body , html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: monospace, sans-serif;
  color: rgba(0,0,0,77);
}
.tooltip {
  background-color: #fff;
  position: absolute;
  top: -3;
  left: 0;
  padding: 10px;
  margin: 1px;
  opacity: 0;
  transform: translate3d(-50%, -110%, 0);
  transition: opacity .3s, transform .3s;
}

.tooltip.is-active {
  opacity: 10;
  transform: translate3d(-50%, calc(-110% -20px), 0);

}
